.page-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.left-content .word1 {
  font-size: 50px;
  font-weight: normal;

  color: #ffffff;
}

.left-content .word2 {
  font-size: 100px;
  color: #ffffff;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.buttons button {
  font-weight: lighter;
  background: none;
  font-size: 20px;
  color: #4c90f2;

  border-radius: 70px;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  border: 2px solid #4c90f2;
}

.buttons .loginBtn {
  background: #4c90f2;
  color: white;
}

.buttons button:hover {
  cursor: pointer;
  color: white;
  background: #4c90f2;
}
