.page-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.left-content .word1 {
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
}

.left-content .word2 {
  font-size: 100px;
  color: #ffffff;
  font-weight: 700;
}

.button {
  font-weight: lighter;
  background: none;
  font-size: 17px;
  color: #ffffff;
  background-color: #4c90f2;
  border-radius: 70px;
  width: 150px;
  height: 40px;
  margin-top: 60px;
  margin-left: 60px;
  border: 2px solid #4c90f2;
}
button:hover {
  cursor: pointer;
}

p {
  color: #ffffff;
  font-weight: 100;
  opacity: 0.6;
  margin-top: 80px;
  margin-left: 20px;
}

p span {
  color: #4c90f2;
  opacity: 1;
}

p span:hover {
  cursor: pointer;
}
