.userDetail {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 50px;
}

.userDetail label {
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
  margin-bottom: 5px;
}

.userDetail :nth-child(3),
:nth-child(5) {
  margin-top: 20px;
}

.userDetail input {
  border: none;
  width: 300px;
  height: 30px;
  background-color: transparent;
}

input:active {
  border: none;
  outline: none;
}

.userDetail input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.userDetail input[type="text"] {
  font-size: 16px;
  opacity: 0.7;
  color: #ffffff;
}
.userDetail input[type="number"] {
  font-size: 16px;
  opacity: 0.6;
  color: #ffffff;
}

.userDetail input::placeholder {
  font-size: 16px;
}

.userDetail .selection {
  display: flex;
  justify-content: space-between;
}

.userDetail .selection .type {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  margin: 5px;
}

.userDetail .selection .type label {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20px;
}
