.logo {
  position: absolute;
  width: 163px;
  height: 62px;
  left: 70px;
  top: 10px;

  font-weight: 400;
  font-size: 35px;
  line-height: 122px;
  text-align: center;
  /* margin-left: 60px; */

  color: #d9d9d9;
}
